/**
*   PARTIALS
**/
@import 'partials/variables';
@import 'partials/typography';

/**
*   COMPONENTS
**/
@import 'components/base';
@import 'components/heading';

@font-face {
    font-family: "Poppins-Medium";
    src: url("/fonts/Poppins-Medium.ttf");
}
@font-face{
    font-family: "Poppins-Bold";
    src: url("/fonts/Poppins-Bold.ttf");
}
@font-face{
    font-family: "Poppins-Black";
    src: url("/fonts/Poppins-Black.ttf");
}
@font-face{
    font-family: "Poppins-SemiBold";
    src: url("/fonts/Poppins-SemiBold.ttf");
}
@font-face{
    font-family: "Poppins-Italic";
    src: url("/fonts/Poppins-Italic.ttf");
}

body{
    overflow: scroll;
    display: table;
    width: 100%; 
}
  
header{
    position: absolute;
    width: 100%;
    background: #364F6B;

    ul {
        margin: 1;
        list-style: none;
        display: flex;
    }

    li:hover{
        background: #3FC1C9;
    }

    li{
        display: block;
        padding: 15px 26px;
        color: #F5F5F5;
        font-family: 'Poppins-Medium';
        flex-direction: row;
    }

    a{
        margin-top: 1%;
        margin-right: 500px;
    }

    button{
        font-family: 'Poppins-Bold';
        color: #F5F5F5;
        background-color: #FC5185;
        border: #FC5185;
        -webkit-border-radius: 80px;
        -moz-border-radius: 80px;
        border-radius: 50px;
    }

    #menu{
        display:none;
        width:8%;
        height:55%;
        margin-left:90%;   
    }

    #menu:hover{
        cursor: pointer;
        background: rgba(0,0,0,0.3);
    }

    #btn-menu{
        display: none;
        width:8%;
        height:15%;
        margin-left:140%
    }

    #logo{
        display: none;
    }
}

#home{
    background-color: #FFFFFF;
    width: 100%;
    display:block;
    padding: 10%;
    

    img{
        width: 58%;
        height: auto;
        margin: -15%;
    }

    h1{
        font-family: "Poppins-Black";
        color: #364F6B;
        margin: 0% -6%;
        font-size: 60px;
    }

    p{
        font-family: "Poppins-SemiBold";
        color: #364F6B;
        margin: 0% -6%;
        /*font-size: 20px;*/
    }

    button{
        font-family: 'Poppins-Bold';
        color: #F5F5F5;
        background-color: #FC5185;
        border: #FC5185;
        -webkit-border-radius: 80px;
        -moz-border-radius: 80px;
        border-radius: 50px;
        margin: 0% -6%;
    }
}

#new{
    width: 100%;
    display:block;
    padding: 10%;
    background-image: url("/images/heading.png");
    background-size: cover;

    h1{
        font-family: 'Poppins-Bold';
        color: #F5F5F5;
        margin: 0% -6%;
        font-size: 40px;
    }

    #pensamiento{
        background-color: #F5F5F5;
        width: 39%;
        margin-left: 72%;
    }

    p{
        font-family: "Poppins-Italic";
        color: #364F6B;
        padding: 12%;
        font-size: 22px;
    }
}

#rent{
    width: 100%;
    display:block;
    padding: 10%;
    background-color: #FFFFFF;

    #parr1{
        font-family: "Poppins-Medium";
        color: #364F6B;
        padding: 2%;
        font-size: 22px;        
    }

    #parr2{
        font-family: "Poppins-Medium";
        color: #364F6B;
        padding: 2%;
        font-size: 22px;        
    }

    #img_left{
        padding: 2%;
    }
    #img_rigth{
        width: auto;
        margin-top: -5%;
        margin-left: 27%;
    }
}

#find{
    width: 100%;
    display:block;
    padding: 22%;
    background-color: #F5F5F5;

    img{
        margin-top: -22%;
        padding: 6%;
        margin-left: -45%;
    }
}

footer{
    position: absolute;
    width: 100%;
    background: #364F6B;
    height: 200px;
    margin-top: -5%;

    h3{
        font-family: "Poppins-Medium";
        color: #F5F5F5;
        padding: 4%;
        font-size: 22px; 
    }
}

@media(max-width:1200px){
    body{
        overflow: scroll;
        display: table;
        width: 100%; 
    }

    header{ 
        nav{
            position: absolute;
            display: -webkit-inline-box;
            background: #364F6B;
            width:100%;
            height: 80px;

            ul{
                width: 70%;
                margin-left: -70%;
                flex-direction: column;
    
                li{
                    border-top: 1px solid #fff;
                }
            }
        }



        #logo{
            display: block;
            margin-top: 2%;
            margin-right: 500px;
        }

        #menu{
            display: block;;
            position: absolute;
            margin-left:90%;
            margin-top: -4%;
        }

    }

    #home{
        background-color: #FFFFFF;
        width: 100%;
        display: block;   
    }
}


